body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #121212, #1f1f1f);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFAF0;
}

.card {
    background-color: rgb(128, 0, 2);
    border-radius: 20px;
    padding: 40px;
    max-width: 380px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(129, 0, 0, 0.4);
    

}

.foto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

p.subtitulo {
    font-size: 1rem;
    color: #aaa;
    margin-top: 0;
    margin-bottom: 20px;
}

p.descricao {
   
    font-size: 0.95rem;
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 30px;
   
   
}


.links a {
    
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-weight: bold;
    transition: 0.5s;
   
    

}

.links a:hover {
    color: #b8860b;
}

